@page "/"
@using SeabornBlazorVisualizer.Data
@inject MatplotPlotImageService MatplotPlotImageService

<PageTitle>MatplotLib - Cumulative graph showing randomized data</PageTitle>

<h1>MatplotLib Demo - Cumulative graph showing randomized data</h1>

<p>This demo displays a Cumulative graph showing randomized data using MatPlotLib </p>

<blockquote>
    <p>Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python.</p>
    <p>It is widely used in data science and machine learning for data visualization.</p>
</blockquote>

@* Reply from MatPlotLib service (showing relative path of where the generated plot was saved):

@generatedMatPlotImage
 *@

@if (generatedMatPlotImage != null){
    <br />
    <br />
    <img src="@generatedMatPlotImage" alt="Generated image from Matplotlib" />
}


@code {

    private string? generatedMatPlotImage;

    protected override async Task OnInitializedAsync()
    {
        generatedMatPlotImage = await MatplotPlotImageService.GenerateRandomizedCumulativeGraph();
    }

}
