@page "/"
@using SeabornBlazorVisualizer.Data
@inject MatplotPlotImageService MatplotPlotImageService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

Reply from IronPython:

@generatedMatPlotImage


@if (generatedMatPlotImage != null){
    <br />
    <br />
    <img width="500" src="@generatedMatPlotImage" alt="Generated image from Matplotlib" />
}


@code {

    private string? generatedMatPlotImage;

    protected override async Task OnInitializedAsync()
    {
        generatedMatPlotImage = await MatplotPlotImageService.GenerateRandomizedCumulativeGraph();
    }

}
