@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MatplotBlazorVisualizer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column nav-menu">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ReloadCumulativePlot">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cumulative normal plot
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cumulativedotnetplot" @onclick="ReloadCumulativeDotNetPlot">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cumulative normal plot with .NET
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="histogramplot" @onclick="ReloadHistogram">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Histogram example with .NET
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="definiteintegral" @onclick="ReloadDefiniteIntegral">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Definite integral
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ReloadHistogram(){
        Navigation.NavigateTo("histogramplot" + GetNonce());
    }

    private void ReloadCumulativePlot(){
        Navigation.NavigateTo("/" + GetNonce()); // Reload the page to show the updated plot
    }

    private void ReloadCumulativeDotNetPlot(){
        Navigation.NavigateTo("cumulativedotnetplot" + GetNonce()); // Reload the page to show the updated plot
    }

    private void ReloadDefiniteIntegral()
    {
        Navigation.NavigateTo("definiteintegral" + GetNonce());        
    }

    private string GetNonce()
    {
        return "?nonce=" + Guid.NewGuid().ToString("N");
    }

}
